<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metoo.nspm.core.mapper.nspm.DepartmentMapper">

    <resultMap id="Base_Result_Map" type="com.metoo.nspm.entity.nspm.Department">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="parent_id" property="parentId"></result>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, parent_id
    </sql>

    <select id="selectObjById" resultType="java.lang.Long" resultMap="Base_Result_Map">
        SELECT
          <include refid="Base_Column_List" />
        FROM
          rsms_department
        WHERE
          id = #{id}
    </select>

    <select id="selectObjByMap" resultType="java.util.Map" resultMap="Base_Result_Map">
        SELECT
        <include refid="Base_Column_List" />
        FROM
        rsms_department
        <where>
            <if test="parentId != null and parentId != ''">
                AND parent_id = #{parentId}
            </if>
        </where>
        <if test="orderBy != null and orderBy != ''">
            ORDER BY ${orderBy}
        </if>
        <if test="orderType != null and orderType != ''">
            ${orderType}
        </if>
    </select>

    <select id="queryChild" parameterType="long" resultMap="Base_Result_Map">
        SELECT <include refid="Base_Column_List"/>
        FROM rsms_department
        <where>
            <choose>
                <when test="parentId != null">
                    parent_id = #{parentId}
                </when>
                <when test="parentId == null">
                    parent_id is null
                </when>
                <otherwise>

                </otherwise>
            </choose>
        </where>
    </select>

    <insert id="save" parameterType="com.metoo.nspm.entity.nspm.Department" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO rsms_department
        <trim prefix="("  suffixOverrides="," suffix=")">
            <if test="addTime != null">
                addTime,
            </if>
            <if test="deleteStatus != null">
                deleteStatus,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="desc != null">
                `desc`,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="sequence != null">
                sequence,
            </if>
        </trim>
        <trim prefix="VALUES(" suffixOverrides="," suffix=")">
            <if test="addTime != null">
                #{addTime},
            </if>
            <if test="deleteStatus != null">
                #{deleteStatus},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="desc != null">
                #{desc},
            </if>
            <if test="parentId != null">
                #{parentId},
            </if>
            <if test="sequence != null">
                #{sequence},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.metoo.nspm.entity.nspm.Department">
        UPDATE rsms_department
        <set>
            <if test="addTime != null">
                addTime = #{addTime},
            </if>
            <if test="deleteStatus != null">
                deleteStatus = #{deleteStatus},
            </if>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="desc != null">
                `desc` = #{desc},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="sequence != null">
                `sequence` = #{sequence},
            </if>
        </set>
        where id=#{id}
    </update>

</mapper>