<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metoo.nspm.core.mapper.nspm.HostSnmpMapper">

    <select id="selectObjByMap" parameterType="java.util.Map" resultType="com.metoo.nspm.entity.nspm.HostSnmp">
          SELECT * FROM metoo_hostsnmp
          <where>
              <if test="uuid != null and uuid != ''">
                  AND uuid = #{uuid}
              </if>
              <if test="time != null">
                  AND addTime = (
                      SELECT
                       addTime
                      FROM
                       metoo_hostsnmp
                      WHERE
                       addTime &lt;= #{time}
                      ORDER BY addTime
                      DESC limit 1
                  )
              </if>
          </where>
    </select>

    <insert id="save" parameterType="com.metoo.nspm.entity.nspm.HostSnmp">
        INSERT INTO metoo_hostsnmp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="addTime != null">
                addTime,
            </if>
            <if test="avaliable != null and avaliable != ''">
                avaliable,
            </if>
            <if test="uuid != null and uuid != ''">
                uuid,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="addTime != null">
                #{addTime},
            </if>
            <if test="avaliable != null and avaliable != ''">
                #{avaliable},
            </if>
            <if test="uuid != null and uuid != ''">
                #{uuid},
            </if>
        </trim>
    </insert>

</mapper>