<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.metoo.nspm.core.mapper.nspm.zabbix.MacHistoryMapper">

    <resultMap id="Base_Result_Map" type="com.metoo.nspm.entity.nspm.Mac">
        <id column="id" property="id"></id>
        <result column="addTime" property="addTime"></result>
        <result column="device_ip" property="deviceIp"></result>
        <result column="device_type" property="deviceType"></result>
        <result column="device_name" property="deviceName"></result>
        <result column="interface_name" property="interfaceName"></result>
        <result column="mac" property="mac"></result>
        <result column="index" property="index"></result>
        <result column="tag" property="tag"></result>
        <result column="uuid" property="uuid"></result>
        <result column="remote_device" property="remoteDevice"></result>
        <result column="remote_a'cinterface" property="remoteInterface"></result>
        <result column="remote_device_ip" property="remoteDeviceIp"></result>
        <result column="remote_device_type" property="remoteDeviceType"></result>
        <result column="remote_uuid" property="remoteUuid"></result>
        <result column="interface_index" property="interfaceIndex"></result>
        <result column="ip_address" property="ipAddress"></result>
        <result column="vlan" property="vlan"></result>
        <result column="terminal_type_name" property="terminalTypeName"></result>
        <result column="device_type_name" property="deviceTypeName"></result>
        <result column="interface_status" property="interfaceStatus"></result>
    </resultMap>

    <sql id="Base_Column_List">
        id, device_name, `interface_name`, mac, `index`, tag, uuid, remote_device, remote_interface,
         remote_device_ip, remote_device_type, remote_uuid, interface_index, ip, device_ip, device_type, vlan,
         device_type_name, online, interface_status
    </sql>

    <sql id="Ntoa_Column_List">
        id, addTime, device_name, `interface_name`, mac, `index`, tag, uuid, remote_device, remote_interface,
        remote_device_ip, remote_device_type,  remote_uuid, interface_index, ip, device_ip, device_type, vlan,
        terminal_type_name, device_type_name, online, interface_status
    </sql>

    <sql id="Copy_Column_List">
         addTime, device_name, `interface_name`, mac, `index`, tag, uuid, remote_device, remote_interface,
         remote_device_ip, remote_device_type, remote_uuid, interface_index, ip, device_ip, device_type, vlan
    </sql>

    <select id="selectObjConditionQuery" parameterType="com.metoo.nspm.dto.MacDTO" resultMap="Base_Result_Map">
        SELECT
          <include refid="Base_Column_List" />
        FROM rsms_mac_history
        <where>
            <if test="filter != null and filter != ''">
                <bind name="pattern" value="'%' + filter + '%'"/>
                OR CONCAT(ip, mac, interface_name) LIKE #{pattern}
            </if>
            <if test="uuid != null and uuid != ''">
                AND uuid = #{uuid}
            </if>
            <if test="interfaceName != null and interfaceName != ''">
                AND `interface_name` = #{interfaceName}
            </if>
            <if test="mac != null and mac != ''">
                AND mac = #{mac}
            </if>
            <if test="unMac != null and unMac != ''">
                AND mac != #{unMac}
            </if>
            <if test="macFilter != null and macFilter != ''">
                AND mac != ''
            </if>
            <if test="time != null">
                AND addTime = (
                    SELECT
                      addTime
                    FROM
                     rsms_mac_history
                    WHERE
                      addTime &lt;= #{time}
                    ORDER BY addTime
                    DESC limit 1
                )
            </if>
        </where>
        <if test = "orderBy != null and orderBy != ''">
            ORDER BY ${orderBy}
        </if>
        <if test = "orderType != null and orderType != ''">
            ${orderType}
        </if>
    </select>

    <select id="selectObjByMap" parameterType="java.util.Map" resultMap="Base_Result_Map">
        SELECT <include refid="Ntoa_Column_List" />
        FROM rsms_mac_history
        <where>
            <if test="mac != null">
                AND mac = #{mac}
            </if>
            <if test="deviceName != null">
                AND device_name = #{deviceName}
            </if>
            <if test="interfaceName != null">
                AND interface_name = #{interfaceName}
            </if>
            <if test="tag != null">
                AND tag = #{tag}
            </if>
            <if test="other != null">
                AND tag != #{other}
            </if>
            <if test="uuid != null">
                AND uuid = #{uuid}
            </if>
            <if test="online != null">
                AND online = #{online}
            </if>
            <if test="uuids != null">
                AND uuid in
                <foreach collection="uuids" index="index" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="tags != null">
                AND tag in
                <foreach collection="tags" index = "index" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="ip != null">
                AND ip = #{ip}
            </if>
            <if test="time != null">
                AND addTime = (
                SELECT addTime FROM rsms_mac_history WHERE addTime &lt;=#{time} ORDER BY addTime DESC limit 1
                )
            </if>
            <if test="macId != null and macId != ''">
                AND id != #{macId}
            </if>
        </where>
        <if test = "orderBy != null and orderBy != ''">
            ORDER BY ${orderBy}
        </if>
        <if test = "orderType != null and orderType != ''">
            ${orderType}
        </if>
    </select>

    <select id="selectByMap" parameterType="java.util.Map" resultMap="Base_Result_Map">
        SELECT <include refid="Ntoa_Column_List" />
        FROM rsms_mac_history
        <where>
            <if test="mac != null">
                AND mac = #{mac}
            </if>
            <if test="deviceName != null">
                AND device_name = #{deviceName}
            </if>
            <if test="interfaceName != null">
                AND interface_name = #{interfaceName}
            </if>
            <if test="tag != null">
                AND tag = #{tag}
            </if>
            <if test="other != null">
                AND tag != #{other}
            </if>
            <if test="uuid != null">
                AND uuid = #{uuid}
            </if>
            <if test="online != null">
                AND online = #{online}
            </if>
            <if test="uuids != null">
                AND uuid in
                <foreach collection="uuids" index="index" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="tags != null">
                AND tag in
                <foreach collection="tags" index = "index" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="ip != null">
                AND ip = #{ip}
            </if>
            <if test="acquisitionTime != null">
                AND addTime = #{acquisitionTime}
            </if>
            <if test="macId != null and macId != ''">
                AND id != #{macId}
            </if>
            <if test="time != null">
                AND addTime = (
                  SELECT
                    addTime
                  FROM
                    rsms_mac_history
                  WHERE
                    addTime &lt;= #{time}
                  ORDER BY
                    addTime
                  DESC limit 1
                )
            </if>
        </where>
        <if test = "orderBy != null and orderBy != ''">
            ORDER BY ${orderBy}
        </if>
        <if test = "orderType != null and orderType != ''">
            ${orderType}
        </if>
    </select>

    <update id="update" parameterType="com.metoo.nspm.entity.nspm.Mac">
        UPDATE rsms_mac_history
        <set>
            <if test="terminalTypeName != null and terminalTypeName != ''">
                  terminal_type_name = #{terminalTypeName},
            </if>
            <if test="deviceTypeName != null and deviceTypeName != ''">
                device_type_name = #{deviceTypeName},
            </if>
            <if test="deviceType != null and deviceType != ''">
                device_type = #{deviceType},
            </if>
            <if test="online != null">
                online = #{online},
            </if>
            <if test="interfaceStatus != null">
                interface_status = #{interfaceStatus},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteObjByMap" parameterType="com.metoo.nspm.entity.nspm.Mac">
        DELETE FROM rsms_mac_history
        where
        addTime &lt;= #{addTime}
    </delete>

    <delete id="batchDelete" parameterType="com.metoo.nspm.entity.nspm.Mac">
        DELETE FROM rsms_mac_history
        where
        id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
          #{item}
        </foreach>
    </delete>

    <insert id="copyMacTemp">
        INSERT INTO rsms_mac_history (<include refid="Copy_Column_List"/>)
        SELECT <include refid="Copy_Column_List"/> FROM rsms_mac_temp
    </insert>

</mapper>