<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.metoo.nspm.core.mapper.nspm.zabbix.MacTempMapper">

    <resultMap id="Base_Result_Map" type="com.metoo.nspm.entity.nspm.MacTemp">
        <id column="id" property="id"></id>
        <result column="addTime" property="addTime"></result>
        <result column="device_ip" property="deviceIp"></result>
        <result column="device_type" property="deviceType"></result>
        <result column="device_name" property="deviceName"></result>
        <result column="interface_name" property="interfaceName"></result>
        <result column="mac" property="mac"></result>
        <result column="index" property="index"></result>
        <result column="tag" property="tag"></result>
        <result column="uuid" property="uuid"></result>
        <result column="remote_device" property="remoteDevice"></result>
        <result column="remote_interface" property="remoteInterface"></result>
        <result column="remote_uuid" property="remoteUuid"></result>
        <result column="interface_index" property="interfaceIndex"></result>
        <result column="ip_address" property="ipAddress"></result>
        <result column="vlan" property="vlan"></result>
    </resultMap>

    <sql id="Base_Column_List">
        id, device_name, `interface_name`, mac, `index`, tag, uuid, remote_device, remote_interface,
         remote_uuid, interface_index, ip, device_ip, device_type, vlan, type
    </sql>

    <sql id="Ntoa_Column_List">
         id, device_name, `interface_name`, mac, `index`, tag, uuid, remote_device, remote_interface,
         remote_uuid, interface_index, ip, device_ip, device_type, vlan, type
    </sql>


    <select id="getObjByInterfaceName" parameterType="java.lang.String" resultMap="Base_Result_Map">
        SELECT <include refid="Base_Column_List" />
        FROM rsms_mac_temp
        <where>
            <if test="interfaceName != null and interfaceName != ''">
               `interface_name` = #{interfaceName}
            </if>
        </where>
    </select>

    <select id="selectByMac" parameterType="java.lang.String" resultMap="Base_Result_Map">
        select DISTINCT mac, remote_device, remote_uuid from rsms_mac_temp
        where `mac` = #{mac} and remote_device != ''
    </select>

    <select id="selectObjByMap" parameterType="java.util.Map" resultMap="Base_Result_Map">
        SELECT <include refid="Base_Column_List" />
        FROM rsms_mac_temp
        <where>
            <if test="interfaceName != null and interfaceName != ''">
                `interface_name` = #{interfaceName}
            </if>
            <if test="other != null">
                AND tag != #{other}
            </if>
            <if test="mac != null">
                AND mac != #{mac}
            </if>
            <if test="unDeviceName != null and unDeviceName != ''">
                `interface_name` != #{unDeviceName}
            </if>
        </where>
    </select>

    <select id="groupByObjByMap2" parameterType="java.util.Map" resultMap="Base_Result_Map">
        SELECT
            *
        FROM
            rsms_mac_temp
        WHERE  device_name = #{deviceName}
        GROUP BY
            remote_device
        HAVING
            count(remote_device) >= 2
    </select>

    <select id="groupByObjByMap" parameterType="java.util.Map" resultMap="Base_Result_Map">
        SELECT
            id, device_name, `interface_name`, mac, `index`, tag, uuid,
            remote_device, remote_interface, remote_uuid, interface_index, ip
        FROM
            rsms_mac_temp
        WHERE
            tag = 'E'
        GROUP BY
            device_name
        HAVING
            count(remote_device) >= 2
    </select>

    <select id="selectByMap" parameterType="java.util.Map" resultMap="Base_Result_Map">
        SELECT <include refid="Ntoa_Column_List" />
        FROM rsms_mac_temp
        <where>
            <if test="mac != null">
                AND mac = #{mac}
            </if>
            <if test="deviceName != null">
                AND device_name = #{deviceName}
            </if>
            <if test="interfaceName != null">
                AND interface_name = #{interfaceName}
            </if>
            <if test="tag != null">
                AND tag = #{tag}
            </if>
            <if test="other != null">
                AND tag != #{other}
            </if>
            <if test="uuid != null">
                AND uuid = #{uuid}
            </if>
            <if test="tags != null">
                AND tag in
                <foreach collection="tags" index = "index" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="ip != null">
                AND ip = #{ip}
            </if>
            <if test="macId != null and macId != ''">
                AND id != #{macId}
            </if>
            <if test="unDeviceName != null and unDeviceName != ''">
                AND `device_name` != #{unDeviceName}
            </if>
            <if test="unUuid != null and unUuid != ''">
                AND `uuid` != #{unUuid}
            </if>
            <if test="remoteDeviceType != null and remoteDeviceType != ''">
                AND remote_device_type = #{remoteDeviceType}
            </if>
        </where>
    </select>

    <select id="selectTagByMap" parameterType="java.util.Map" resultMap="Base_Result_Map">
        SELECT *
        FROM rsms_mac_temp
        <where>
            <if test="mac != null">
                AND mac = #{mac}
            </if>
            <if test="deviceName != null">
                AND device_name = #{deviceName}
            </if>
            <if test="interfaceName != null">
                AND interface_name = #{interfaceName}
            </if>
            <if test="tag != null">
                AND tag = #{tag}
            </if>
            <if test="other != null">
                AND tag != #{other}
            </if>
            <if test="uuid != null">
                AND uuid = #{uuid}
            </if>
            <if test="tags != null">
                AND tag in
                <foreach collection="tags" index = "index" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="ip != null">
                AND ip = #{ip}
            </if>
            <if test="remoteDevice != null">
                AND remote_device = #{remoteDevice}
            </if>
            <if test="macId != null and macId != ''">
                AND id != #{macId}
            </if>
        </where>
    </select>

    <select id="getMacUS" parameterType="java.util.Map" resultMap="Base_Result_Map">
       SELECT
         id
        FROM
            rsms_mac_temp
        WHERE
            (device_name, interface_name)
        IN(
            SELECT
                device_name, interface_name
            FROM
                    rsms_mac_temp
            WHERE
                tag is null
            GROUP BY
                device_name, interface_name
            HAVING
                <if test="u != null">
                    COUNT(interface_name) = #{u}
                </if>
                <if test="s != null">
                    COUNT(interface_name) >= #{s}
                </if>
            )
        AND
            tag is null
    </select>

    <select id="macJoinArp" resultMap="Base_Result_Map">
        SELECT
            mac.id, REPLACE(mac.tag, 'UT', 'DT') tag, mac.mac, INET_NTOA(arp.ip) ip
        FROM
            rsms_mac_temp mac
        JOIN
            rsms_arp arp
        ON
            mac.mac=arp.mac
        WHERE
            mac.tag = 'RT'
        OR
            mac.tag = 'UT'
        order by mac.device_name desc, mac.interface_name desc

    </select>

    <select id="directTerminal" resultMap="Base_Result_Map">
      SELECT *
          FROM (
	            SELECT
						REPLACE(mac.tag, 'UT', 'DT') tag, mac.id, mac.mac, arp.ip
					FROM (
                                SELECT INET_NTOA(ip) ip, mac
                                FROM rsms_arp
                                GROUP BY mac
							) AS arp
					RIGHT JOIN
						rsms_mac_temp mac
					ON
						arp.mac = mac.mac
                    WHERE
						mac.tag = 'RT' or mac.tag = 'UT'
					order by mac.device_name desc, mac.interface_name desc
                ) result where ip is not null

    </select>

    <insert id="save" parameterType="com.metoo.nspm.entity.nspm.MacTemp">
        INSERT INTO rsms_mac_temp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="addTime != null">
                addTime,
            </if>
            <if test="deviceName != null">
                device_name,
            </if>
            <if test="deviceIp != null">
                device_ip,
            </if>
            <if test="deviceType != null">
                device_type,
            </if>
            <if test="interfaceName != null">
                interface_name,
            </if>
            <if test="mac != null">
                mac,
            </if>
            <if test="index != null">
                `index`,
            </if>
            <if test="tag != null">
                tag,
            </if>
            <if test="uuid != null">
                uuid,
            </if>
            <if test="remoteDevice != null">
                remote_device,
            </if>
            <if test="remoteInterface != null">
                remote_interface,
            </if>
            <if test="remoteDeviceIp != null">
                remote_device_ip,
            </if>
            <if test="remoteDeviceType != null">
                remote_device_type,
            </if>
            <if test="remoteUuid != null">
                remote_uuid,
            </if>
            <if test="interfaceIndex != null">
                interface_index,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="ipAddress != null">
                ip_address,
            </if>
            <if test="vlan != null">
                vlan,
            </if>
            <if test="type != null and  type != ''">
                type,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="addTime != null">
                #{addTime},
            </if>
            <if test="deviceName != null">
                #{deviceName},
            </if>
            <if test="deviceIp != null">
                #{deviceIp},
            </if>
            <if test="deviceType != null">
                #{deviceType},
            </if>
            <if test="interfaceName != null">
                #{interfaceName},
            </if>
            <if test="mac != null">
                #{mac},
            </if>
            <if test="index != null">
                #{index},
            </if>
            <if test="tag != null">
                #{tag},
            </if>
            <if test="uuid != null">
                #{uuid},
            </if>
            <if test="remoteDevice != null">
                #{remoteDevice},
            </if>
            <if test="remoteInterface != null">
                #{remoteInterface},
            </if>
            <if test="remoteDeviceIp != null">
                #{remoteDeviceIp},
            </if>
            <if test="remoteDeviceType != null">
                #{remoteDeviceType},
            </if>
            <if test="remoteUuid != null">
                #{remoteUuid},
            </if>
            <if test="interfaceIndex != null">
                #{interfaceIndex},
            </if>
            <if test="ip != null">
                #{ip},
            </if>
            <if test="ipAddress != null">
                #{ipAddress},
            </if>
            <if test="vlan != null">
                #{vlan},
            </if>
            <if test="type != null and  type != ''">
                #{type},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.metoo.nspm.entity.nspm.MacTemp">
        UPDATE rsms_mac_temp
        <set>
            <if test="deviceName != null and deviceName != ''">
                device_name = #{deviceName},
            </if>
            <if test="deviceIp != null and deviceIp != ''">
                device_ip = #{deviceIp},
            </if>
            <if test="deviceType != null and deviceType != ''">
                device_type = #{deviceType},
            </if>
            <if test="interfaceName != null and interfaceName != ''">
                interface_name = #{interfaceName},
            </if>
            <if test="mac != null and mac != ''">
                mac = #{mac},
            </if>
            <if test="index != null">
                `index` = #{index},
            </if>
            <if test="tag != null and tag != ''">
                tag = #{tag},
            </if>
            <if test="uuid != null and uuid != ''">
                uuid = #{uuid},
            </if>
            <if test="remoteDevice != null and remoteDevice != ''">
                remote_device =  #{remoteDevice},
            </if>
            <if test="remoteInterface != null and remoteInterface != ''">
                remote_interface = #{remoteInterface},
            </if>
            <if test="remoteDeviceIp != null and remoteDeviceIp != ''">
                remote_device_ip = #{remoteDeviceIp},
            </if>
            <if test="remoteDeviceType != null and remoteDeviceType != ''">
                remote_device_type = #{remoteDeviceType},
            </if>
            <if test="remoteUuid != null and remoteUuid != ''">
                remote_uuid = #{remoteUuid},
            </if>
            <if test="interfaceIndex != null and interfaceIndex != ''">
                interface_index = #{interfaceIndex},
            </if>
            <if test="ip != null and ip != ''">
                ip = #{ip},
            </if>
            <if test="ipAddress != null and ipAddress != ''">
                ip_address = #{ipAddress},
            </if>
            <if test="vlan != null and vlan != ''">
                vlan = #{vlan},
            </if>
            <if test="type != null and  type != ''">
                type = #{type},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO rsms_mac_temp (
                    addTime,
                    device_name,
                    interface_name,
                    tag,
                    type,
                    device_type,
                    uuid,
                    device_ip,
                    vlan,
                    mac,
                    remote_uuid,
                    remote_interface,
                    remote_device,
                    remote_device_type
        )
        VALUES
        <foreach collection ="list" item="item" separator ="," >
            (
                #{item.addTime},
                #{item.deviceName},
                #{item.interfaceName},
                #{item.tag},
                #{item.type},
                #{item.deviceType},
                #{item.uuid},
                #{item.deviceIp},
                #{item.vlan},
                #{item.mac},
                #{item.remoteUuid},
                #{item.remoteInterface},
                #{item.remoteDevice},
                #{item.remoteDeviceType}
            )
        </foreach>
    </insert>

    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            UPDATE rsms_mac_temp
            <set>
                <if test="item.deviceName != null and item.deviceName != ''">
                    device_name = #{item.deviceName},
                </if>
                <if test="item.interfaceName != null and item.interfaceName != ''">
                    interface_name = #{item.interfaceName},
                </if>
                <if test="item.tag != null and item.tag != ''">
                    tag = #{item.tag},
                </if>
                <if test="item.index != null and item.index != ''">
                    `index` = #{item.index},
                </if>
                <if test="item.type != null and item.type != ''">
                    `type` = #{item.type},
                </if>
                <if test="item.deviceType != null and item.index != ''">
                    `device_type` = #{item.deviceType},
                </if>
                <if test="item.uuid != null and item.uuid != ''">
                    `uuid` = #{item.uuid},
                </if>
                <if test="item.deviceIp != null and item.deviceIp != ''">
                    `device_ip` = #{item.deviceIp},
                </if>
                <if test="item.vlan != null and item.vlan != ''">
                    `vlan` = #{item.vlan},
                </if>
                <if test="item.mac != null and item.mac != ''">
                    `mac` = #{item.mac},
                </if>
                <if test="item.remoteDevice != null and item.remoteDevice != ''">
                    `remote_device` = #{item.remoteDevice},
                </if>
                <if test="item.remoteUuid != null and item.remoteUuid != ''">
                    `remote_uuid` = #{item.remoteUuid},
                </if>
                <if test="item.remoteDeviceIp != null and item.remoteDeviceIp != ''">
                    `remote_device_ip` = #{item.remoteDeviceIp},
                </if>
                <if test="item.remoteDeviceType != null and item.remoteDeviceType != ''">
                    `remote_device_type` = #{item.remoteDeviceType},
                </if>
                <if test="item.remoteInterface != null and item.remoteInterface != ''">
                    `remote_interface` = #{item.remoteInterface},
                </if>
                <if test="item.ip != null and item.ip != ''">
                    `ip` = #{item.ip},
                </if>
            </set>
            WHERE id = #{item.id}
        </foreach>
    </update>

    <update id="truncateTable">
        TRUNCATE TABLE rsms_mac_temp
    </update>


</mapper>