<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.metoo.nspm.core.mapper.nspm.zabbix.ZabbixRouteMapper">

    <resultMap id="Base_Result_Map" type="com.metoo.nspm.entity.nspm.Route">
        <id column="id" property="id"></id>
        <result column="mask" property="mask"></result>
        <result column="mask_bit" property="maskBit"></result>
        <result column="destination" property="destination"></result>
        <result column="cost" property="cost"></result>
        <result column="flags" property="flags"></result>
        <result column="proto" property="proto"></result>
        <result column="next_hop" property="nextHop"></result>
        <result column="interface_name" property="interfaceName"></result>
        <result column="device_name" property="deviceName"></result>
        <result column="device_uuid" property="deviceUuid"></result>
    </resultMap>

    <sql id="Base_Column_List">
        id, mask, mask_bit, INET_NTOA(destination) AS destination, cost, proto, flags, INET_NTOA(next_hop) next_hop, interface_name, device_name, device_uuid, concat(inet_ntoa(destination), "/", mask_bit) AS cidr
    </sql>

    <sql id="INET_Column_List">
        id, mask, mask_bit, INET_NTOA(destination) AS destination, concat(inet_ntoa(destination), "/", mask_bit) AS cidr, cost, proto, flags, INET_NTOA(next_hop) next_hop, interface_name, device_name, device_uuid
    </sql>

    <select id="selectObjById" parameterType="java.lang.Long" resultMap="Base_Result_Map">
        SELECT *
        FROM rsms_route
        WHERE
          id = #{id, jdbcType=BIGINT}
    </select>

    <select id="selectConditionQuery" parameterType="com.metoo.nspm.dto.zabbix.RoutDTO" resultMap="Base_Result_Map">
        SELECT
          <include refid="INET_Column_List" />
        FROM rsms_route
        <where>
            <if test="destination != ''">
                AND destination = #{destination}
            </if>
            <if test="deviceUuid != null and deviceUuid != ''">
                AND device_uuid = #{deviceUuid}
            </if>
            <if test="interfaceName != null and interfaceName != ''">
                AND  `interface_name` = #{interfaceName}
            </if>
            <if test="network != null and network != '' and broadcast != null and broadcast != ''">
                AND destination BETWEEN #{network} AND #{broadcast}
            </if>
        </where>
        <if test = "orderBy != null and orderBy != ''">
            ORDER BY ${orderBy}
        </if>
        <if test = "orderType != null and orderType != ''">
            ${orderType}
        </if>
    </select>

    <select id="selectObjByMap" parameterType="java.util.Map" resultMap="Base_Result_Map">
        SELECT
          <include refid="Base_Column_List" />
        FROM rsms_route
        <where>
            <if test="mask != null and mask != ''">
                AND mask = #{mask}
            </if>
            <if test="maskBit != null">
                AND mask_bit = #{maskBit}
            </if>
            <if test="destination != null and mask != ''">
                AND destination = #{destination}
            </if>
            <if test="cost != null and cost != ''">
                AND cost = #{cost}
            </if>
            <if test="flags != null and flags != ''">
                AND flags = #{flags}
            </if>
            <if test="proto != null and proto != ''">
                AND proto = #{proto}
            </if>
            <if test="nextHop != null and nextHop != ''">
                AND next_hop = #{nextHop}
            </if>
            <if test="deviceName != null and deviceName != ''">
                AND device_name = #{deviceName}
            </if>
            <if test="interfaceName != null and interfaceName != ''">
                AND interface_name = #{interfaceName}
            </if>
            <if test="deviceUuid != null and deviceUuid != ''">
                AND device_uuid = #{deviceUuid}
            </if>
            <if test="network != null and network != null">
                AND destination
                BETWEEN
                  #{network}
                AND
                  #{broadcast}
            </if>
            <if test = "descMask != null and descMask != ''">
                AND mask_bit &lt;= #{descMask}
            </if>
        </where>
        <if test = "orderBy != null and orderBy != ''">
            ORDER BY ${orderBy}
        </if>
        <if test = "orderType != null and orderType != ''">
            ${orderType}
        </if>
    </select>

    <select id="queryDestDevice" parameterType="java.util.Map" resultMap="Base_Result_Map">
        SELECT
             id, INET_NTOA(destination) destination, mask,
             cost, proto, flags, INET_NTOA(next_hop) next_hop, interface_name, device_name, device_uuid
            FROM rsms_route
            where
                    (destination, mask) = (
                            SELECT
                                destination, mask
                            FROM
                            rsms_route
                            WHERE
                                destination
                            BETWEEN
                                #{network}
                            AND
                                #{broadcast}
                            AND
                                device_name = #{deviceName}
                            ORDER BY mask
                            DESC
                            LIMIT 1
                            )
                 AND
                     device_name = #{deviceName}


    </select>

    <select id="selectDestDevice" parameterType="java.util.Map" resultMap="Base_Result_Map">
        SELECT
         destination, mask
        FROM
        rsms_route
        <where>
            <if test="network != null and broadcast != null">
                destination
                 BETWEEN
                    #{network}
                AND
                    #{broadcast}
            </if>
            <if test = "deviceName != null">
                AND device_name = #{deviceName}
            </if>
            <if test = "destination != null">
                AND destination = #{destination}
            </if>
            <if test = "maskBit != null">
                AND mask_bit = #{maskBit}
            </if>
            <if test = "mask != null">
                AND mask = #{mask}
            </if>
        </where>
        ORDER BY mask
        DESC
        LIMIT 1
    </select>

    <select id="selectNextHopDevice" parameterType="java.util.Map" resultMap="Base_Result_Map">
        SELECT
          id, cost, proto, flags, INET_NTOA(next_hop) next_hop, interface_name, device_name, device_uuid
        FROM
        rsms_route
        <where>
            <if test = "deviceUuid != null">
                AND device_uuid = #{deviceUuid}
            </if>
            <if test = "deviceName != null">
                AND device_name = #{deviceName}
            </if>
            <if test = "destination != null">
                AND destination = #{destination}
            </if>
            <if test = "mask != null">
                AND mask = #{mask}
            </if>
            <if test = "maskBit != null">
                AND mask_bit = #{maskBit}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="com.metoo.nspm.entity.nspm.Route">
        INSERT INTO rsms_route
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="addTime != null">
                addTime,
            </if>
            <if test="mask != null">
                mask,
            </if>
            <if test="destination != null">
                destination,
            </if>
            <if test="cost != null">
                cost,
            </if>
            <if test="proto != null">
                proto,
            </if>
            <if test="flags != null">
                flags,
            </if>
            <if test="nextHop != null">
                next_hop,
            </if>
            <if test="deviceName != null">
                device_name,
            </if>
            <if test="deviceUuid != null">
                device_uuid,
            </if>
            <if test="interfaceName != null">
                interface_name,
            </if>
        </trim>
        <trim prefix="VALUES(" suffixOverrides="," suffix=")">
            <if test="addTime != null">
                #{addTime},
            </if>
            <if test="mask != null">
                #{mask},
            </if>
            <if test="destination != null">
                #{destination},
            </if>
            <if test="cost != null">
                #{cost},
            </if>
            <if test="proto != null">
                #{proto},
            </if>
            <if test="flags != null">
                #{flags},
            </if>
            <if test="nextHop != null">
                #{nextHop},
            </if>
            <if test="deviceName != null">
                #{deviceName},
            </if>
            <if test="deviceUuid != null">
                #{deviceUuid},
            </if>
            <if test="interfaceName != null">
                #{interfaceName},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.metoo.nspm.entity.nspm.Route">
        UPDATE rsms_route
        <set>
            <if test="mask != null">
                mask = #{mask},
            </if>
            <if test="destination != null">
                destination = #{destination},
            </if>
            <if test="cost != null">
                cost = #{cost},
            </if>
            <if test="proto != null">
                proto = #{proto},
            </if>
            <if test="flags != null">
                flags = #{flags},
            </if>
            <if test="nextHop != null">
                next_hop = #{nextHop},
            </if>
            <if test="deviceName != null">
                device_name = #{deviceName},
            </if>
            <if test="interfaceName != null">
                interface_name = #{interfaceName},
            </if>
            <if test="deviceUuid != null">
                device_uuid = #{deviceUuid},
            </if>
        </set>
        where id = #{id, jdbcType=BIGINT}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM rsms_route
        WHERE
          id = #{id}
    </delete>

    <update id="truncateTable">
        TRUNCATE TABLE rsms_route
    </update>

    <insert id="copyRoutTemp">
        INSERT INTO rsms_route
        SELECT * FROM rsms_route_temp
    </insert>

</mapper>