<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metoo.nspm.core.mapper.nspm.TerminalHistoryMapper">

    <select id="selectObjByMap" parameterType="java.util.Map" resultType="com.metoo.nspm.entity.nspm.TerminalHistory">
        SELECT * FROM rsms_terminal_history
        <where>
            <if test="ip != null and ip != ''">
              AND ip = #{ip}
            </if>
            <if test="time != null">
                AND addTime = (
                    SELECT
                      addTime
                    FROM
                        rsms_terminal_history
                    WHERE
                     addTime &lt;= #{time}
                    ORDER BY addTime
                    DESC limit 1
                )
            </if>
        </where>
    </select>


    <insert id="save" parameterType="com.metoo.nspm.entity.nspm.TerminalHistory">
        INSERT INTO rsms_terminal_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="addTime != null">
                addTime,
            </if>
            <if test="ip != null and ip != ''">
                ip,
            </if>
            <if test="online != null">
                online,
            </if>
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            <if test="addTime != null">
                #{addTime},
            </if>
            <if test="ip != null and ip != ''">
                #{ip},
            </if>
            <if test="online != null">
                #{online},
            </if>
        </trim>
    </insert>
</mapper>