<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metoo.nspm.core.mapper.nspm.ThresholdMapper">

    <select id="query" resultType="com.metoo.nspm.entity.nspm.Threshold">
        select * from metoo_threshold limit 1;
    </select>

    <update id="update" parameterType="com.metoo.nspm.entity.nspm.Threshold">
      update metoo_threshold
      <set>
          <if test="cpu != null">
              cpu = #{cpu},
          </if>
          <if test="memory != null">
              memory = #{memory},
          </if>
          <if test="flow != null">
              flow = #{flow},
          </if>
      </set>
    </update>
</mapper>