<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.metoo.nspm.core.mapper.zabbix.ItemMapper">

    <resultMap id="ItemArp_Result_Map" type="com.metoo.nspm.entity.zabbix.Item">
        <result column="itemid" property="itemid"></result>
        <collection property="itemTags" javaType="list" ofType="com.metoo.nspm.entity.zabbix.ItemTag">
            <result column="itemtagid" property="itemtagid"></result>
            <result column="tag" property="tag"></result>
            <result column="value" property="value"></result>
            <result column="name" property="name"></result>
            <result column="mac" property="mac"></result>
        </collection>
    </resultMap>

    <resultMap id="ItemIpaddr_Result_Map" type="com.metoo.nspm.entity.zabbix.Item">
        <result column="itemid" property="itemid"></result>
        <collection property="itemTags" javaType="list" ofType="com.metoo.nspm.entity.zabbix.ItemTag">
            <result column="itemtagid" property="itemtagid"></result>
            <result column="tag" property="tag"></result>
            <result column="value" property="value"></result>
            <result column="name" property="name"></result>
            <result column="ip" property="ip"></result>
            <result column="mask" property="mask"></result>
        </collection>
    </resultMap>

    <resultMap id="Item_Tag_Result_Map" type="com.metoo.nspm.entity.zabbix.Item">
        <result column="itemid" property="itemid"></result>
        <collection property="itemTags" javaType="list" ofType="com.metoo.nspm.entity.zabbix.ItemTag">
            <result column="itemtagid" property="itemtagid"></result>
            <result column="tag" property="tag"></result>
            <result column="value" property="value"></result>
            <result column="name" property="name"></result>
            <result column="mac" property="mac"></result>
        </collection>
    </resultMap>

    <select id="query" parameterType="java.lang.String" resultMap="ItemArp_Result_Map">
        SELECT item_tag.*
        FROM (
                SELECT *
                FROM item_tag
                WHERE itemid
                IN (
                    SELECT itemid
                    FROM interface
                    JOIN items
                    ON
                        interface.hostid = items.hostid
            WHERE interface.ip = #{ip}
            AND available = 1
            )
            AND `value` = 'arp'
            GROUP BY itemid
            ORDER BY itemid
            DESC
        ) items
        JOIN item_tag
        ON item_tag.itemid = items.itemid
         WHERE
          item_external.itemid
            NOT IN(
                    SELECT DISTINCT(itemid) FROM item_tag
                    WHERE
                     item_tag.`value` like '%{%'
                )
    </select>

    <select id="selectItemTagByIpAndObj" parameterType="java.util.Map" resultMap="Item_Tag_Result_Map">
        SELECT item_tag.*
        FROM (
                SELECT *
                FROM item_tag
                WHERE itemid
                IN (
                    SELECT itemid
                    FROM interface
                    JOIN items
                    ON
                        interface.hostid = items.hostid
            WHERE interface.ip = #{ip}
            AND available = 1
            )
            AND `value` = #{obj}
            GROUP BY itemid
            ORDER BY itemid
            DESC
        ) items
        JOIN item_tag
        ON item_tag.itemid = items.itemid
         WHERE
          item_tag.itemid
            NOT IN(
                    SELECT DISTINCT(itemid) FROM item_tag
                    WHERE
                     item_tag.`value` like '%{%'
                )
    </select>

    <select id="selectItemTagByIpAndObj2" parameterType="java.util.Map" resultMap="Item_Tag_Result_Map">
        SELECT item_tag.*
        FROM (
                SELECT *
                FROM item_tag
                WHERE itemid
                IN (
                    SELECT itemid
                    FROM interface
                    JOIN items
                    ON
                        interface.hostid = items.hostid
            WHERE interface.ip = #{ip}
            AND available = 1
            )
            AND `value` = #{obj}
            GROUP BY itemid
            ORDER BY itemid
            DESC
        ) items
        JOIN item_tag
        ON item_tag.itemid = items.itemid
         WHERE
          item_tag.itemid
            NOT IN(
                    SELECT DISTINCT(itemid) FROM item_tag
                    WHERE
                     item_tag.`value` like '%{%'
                )
    </select>

    <select id="selectItemTagByIpAndObjToPort" parameterType="java.util.Map" resultMap="Item_Tag_Result_Map">
        SELECT *,
            IF (
                item_tag1.tag = 'index',
                (
                    SELECT
                        `value`
                    FROM
                        item_tag tag_inner
                    WHERE
                        itemid IN (
                            SELECT
                                item_tag.itemid
                            FROM
                                (
                                    SELECT
                                        *
                                    FROM
                                        item_tag
                                    WHERE
                                        itemid IN (
                                            SELECT
                                                itemid
                                            FROM
                                                interface
                                            JOIN items ON interface.hostid = items.hostid
                                            WHERE
                                                interface.ip = #{ip}
                                        )
                                    AND `value` = 'ifbasic'
                                    GROUP BY
                                        itemid
                                    ORDER BY
                                        itemid DESC
                                ) items
                            JOIN item_tag ON item_tag.itemid = items.itemid
                            WHERE
                                item_tag.`value` = item_tag1.index2
                            AND item_tag.tag = 'ifindex'
                        )
                    AND tag_inner.tag = 'ifname'
                    LIMIT 1
                ),
                NULL
            ) AS NAME
    FROM(
        SELECT
                item_external.*,
                    IF (
                    item_external.tag = 'index',
                (
                    SELECT
                        `value`
                    FROM
                        item_tag tag_inner
                    WHERE
                        itemid IN (
                            SELECT
                                item_tag.itemid
                            FROM
                                (
                                    SELECT
                                        *
                                    FROM
                                        item_tag
                                    WHERE
                                        itemid IN (
                                            SELECT
                                                itemid
                                            FROM
                                                interface
                                            JOIN items ON interface.hostid = items.hostid
                                            WHERE
                                                interface.ip = #{ip}
                                        )
                                    AND `value` = 'port2ifindex'
                                    GROUP BY
                                        itemid
                                    ORDER BY
                                        itemid DESC
                                ) items
                            JOIN item_tag ON item_tag.itemid = items.itemid
                            WHERE
                                item_tag.`value` = item_external.`value`
                            AND item_tag.tag = 'index'
                        )
                    AND tag_inner.tag = 'ifindex'
                    LIMIT 1
                ),
                NULL
            ) AS index2
            FROM
                (
                    SELECT
                        *
                    FROM
                        item_tag
                    WHERE
                        itemid IN (
                            SELECT
                                itemid
                            FROM
                                interface
                            JOIN items ON interface.hostid = items.hostid
                            WHERE
                                interface.ip = #{ip}
                            AND available = 1
                        )
                    AND `value` = #{tag}
                    GROUP BY
                        itemid
                    ORDER BY
                        itemid DESC
                ) items
            JOIN item_tag item_external ON item_external.itemid = items.itemid
            WHERE
                item_external.itemid NOT IN (
                    SELECT DISTINCT
                        (itemid)
                    FROM
                        item_tag
                    WHERE
                        item_tag.`value` LIKE '%{%'
                )
     )item_tag1
    </select>

    <select id="selectTagByMap" parameterType="java.util.Map" resultMap="ItemArp_Result_Map">
        SELECT
        tag.*
        FROM
            (
                SELECT
                *
                FROM
                item_tag
                <where>
                    <if test = "filterValue != null and filterValue != ''">
                      AND value = #{filterValue}
                    </if>
                    <if test = "filterTag != null and filterTag != ''">
                        AND tag = #{filterTag}
                    </if>
                </where>
            )item_tag
        JOIN
        (
            SELECT
            item_tag.*
            FROM (
                SELECT *
                FROM item_tag
                WHERE itemid
                IN (
                SELECT itemid
                FROM interface
                JOIN items
                ON
                interface.hostid = items.hostid
                <where>
                    <if test="ip != null and ip != ''">
                        AND interface.ip = #{ip}
                    </if>
                    <if test="available != null and available != ''">
                        AND interface.available = #{available}
                    </if>
                </where>
                )
                <if test="tag != null and tag != ''">
                    AND `value` = #{tag}
                </if>
                <if test="tags != null and tags != ''">
                    AND tag IN
                    <foreach collection="tags" item="item" index="index" separator="," open="(" close=")">
                        #{item}
                    </foreach>
                </if>
                GROUP BY itemid
                ORDER BY itemid
                DESC
                )items
                JOIN item_tag
                ON item_tag.itemid = items.itemid
                WHERE
            item_tag.itemid
                NOT IN(
                SELECT DISTINCT(itemid) FROM item_tag
                WHERE
                item_tag.`value` like '%{%'
            )
        )tag
          on tag.itemid = item_tag.itemid
    </select>

    <select id="gatherItemBySTP" parameterType="java.util.Map" resultMap="ItemArp_Result_Map">
        SELECT
        item_external.*,
                IF(item_external.tag = #{index},(
                    SELECT `value`
                    FROM item_tag tag_inner
                    WHERE itemid in (
                        SELECT item_tag.itemid
                        FROM (
                                SELECT *
                                FROM item_tag
                                WHERE itemid
                                IN (
                                    SELECT itemid
                                    FROM interface
                                    JOIN items
                                    ON
                                        interface.hostid = items.hostid
                            WHERE interface.ip = #{ip})
                            AND `value` = #{tag_relevance}
                            GROUP BY itemid
                            ORDER BY itemid
                            DESC
                        ) items
                        JOIN item_tag
                        ON item_tag.itemid = items.itemid
                        WHERE item_tag.`value` = substring_index(item_external.`value`, '.', -1)
                        AND item_tag.tag = #{index_relevance}
                )
                AND tag_inner.tag = #{name_relevance}
            ), NULL) AS name
        FROM (
            SELECT *
            FROM item_tag
            WHERE itemid
            IN (
                SELECT itemid
                FROM interface
                JOIN items
                ON
									interface.hostid = items.hostid
								where
									interface.ip = #{ip}
                )
                AND `value` = #{tag}
                GROUP BY itemid
                ORDER BY itemid
                DESC
           )items
        JOIN
					item_tag item_external
        ON
					item_external.itemid = items.itemid
        WHERE
          item_external.itemid
        NOT IN(
            SELECT DISTINCT(itemid)
            FROM item_tag
            WHERE
             item_tag.`value` like '%{%'
            )
    </select>


    <select id="selectItemTagByMap" parameterType="java.util.Map" resultMap="ItemArp_Result_Map">
        SELECT
        item_tag.*
        FROM (
            SELECT *
            FROM item_tag
            WHERE itemid
            IN (
                SELECT itemid
                FROM interface
                JOIN items
                ON
                interface.hostid = items.hostid
                <where>
                    <if test="ip != null and ip != ''">
                        AND interface.ip = #{ip}
                    </if>
                    <if test="available != null and available != ''">
                        AND interface.available = #{available}
                    </if>
                </where>
                )
                <if test="tag != null and tag != ''">
                    AND `value` = #{tag}
                </if>
                <if test="tags != null and tags != ''">
                    AND tag IN
                    <foreach collection="tags" item="item" index="index" separator="," open="(" close=")">
                        #{item}
                    </foreach>
                </if>
                GROUP BY itemid
                ORDER BY itemid
                DESC
           )items
        JOIN item_tag
        ON item_tag.itemid = items.itemid
        WHERE
          item_tag.itemid
        NOT IN(
            SELECT DISTINCT(itemid)
            FROM item_tag
            WHERE
             item_tag.`value` like '%{%'
            )
    </select>

    <select id="arpTable" parameterType="java.lang.String" resultMap="ItemArp_Result_Map">
            SELECT item_external.*,

        FROM (
                SELECT *
                FROM item_tag
                WHERE itemid
                IN (
                    SELECT itemid
                    FROM interface
                    JOIN items
                    ON
                        interface.hostid = items.hostid
            WHERE interface.ip = #{ip}	AND available = 1)
            AND `value` = 'arp'
            GROUP BY itemid
            ORDER BY itemid
            DESC
        ) items
        JOIN item_tag item_external
        ON item_external.itemid = items.itemid
    </select>


    <select id="gatherItemByTag" parameterType="java.util.Map" resultMap="ItemArp_Result_Map">
            SELECT item_external.*,
                IF(item_external.tag = #{index},(
                    SELECT `value`
                    FROM item_tag tag_inner
                    WHERE itemid in (
                        SELECT item_tag.itemid
                        FROM (
                                SELECT *
                                FROM item_tag
                                WHERE itemid
                                IN (
                                    SELECT itemid
                                    FROM interface
                                    JOIN items
                                    ON
                                        interface.hostid = items.hostid
                            WHERE interface.ip = #{ip})
                            AND `value` = #{tag_relevance}
                            GROUP BY itemid
                            ORDER BY itemid
                            DESC
                        ) items
                        JOIN item_tag
                        ON item_tag.itemid = items.itemid
                        WHERE item_tag.`value` = item_external.`value`
                        AND item_tag.tag = #{index_relevance}
                )
                AND tag_inner.tag = #{name_relevance}
            ), NULL) AS name
        FROM (
                SELECT *
                FROM item_tag
                WHERE itemid
                IN (
                    SELECT itemid
                    FROM interface
                    JOIN items
                    ON
                        interface.hostid = items.hostid
            WHERE interface.ip = #{ip}	AND available = 1)
            AND `value` = #{tag}
            GROUP BY itemid
            ORDER BY itemid
            DESC
        ) items
        JOIN item_tag item_external
        ON item_external.itemid = items.itemid
        WHERE
          item_external.itemid
            NOT IN(
                    SELECT DISTINCT(itemid) FROM item_tag
                    WHERE
                     item_tag.`value` like '%{%'
                )
    </select>

    <select id="gatherItemByTagAndClock" parameterType="java.util.Map" resultMap="ItemArp_Result_Map">
            SELECT item_tag* FROM(
                SELECT item_external.*,
                    IF(item_external.tag = #{index},(
                        SELECT `value`
                        FROM item_tag tag_inner
                        WHERE itemid in (
                            SELECT item_tag.itemid
                            FROM (
                                    SELECT *
                                    FROM item_tag
                                    WHERE itemid
                                    IN (
                                        SELECT itemid
                                        FROM interface
                                        JOIN items
                                        ON
                                            interface.hostid = items.hostid
                                WHERE interface.ip = #{ip})
                                AND `value` = #{tag_relevance}
                                GROUP BY itemid
                                ORDER BY itemid
                                DESC
                            ) items
                            JOIN item_tag
                            ON item_tag.itemid = items.itemid
                            WHERE item_tag.`value` = item_external.`value`
                            AND item_tag.tag = #{index_relevance}
                    )
                    AND tag_inner.tag = #{name_relevance}
                ), NULL) AS name
            FROM (
                    SELECT *
                    FROM item_tag
                    WHERE itemid
                    IN (
                        SELECT itemid
                        FROM interface
                        JOIN items
                        ON
                            interface.hostid = items.hostid
                WHERE interface.ip = #{ip}	AND available = 1)
                AND `value` = #{tag}
                GROUP BY itemid
                ORDER BY itemid
                DESC
            ) items
            JOIN item_tag item_external
            ON item_external.itemid = items.itemid
            )item_tag
        JOIN
            (
                SELECT
                  itemid
                FROM(
                  SELECT
                    *
                  FROM
                    history_str
                  where
                    clock >= #{clock}
                  ORDER BY
                    clock
                  DESC
                    limit 700000000
                    ) history_str
                  GROUP BY
                    `value`
                  order by
                    itemid
                  asc
            )str
        ON
            str.itemid = item_tag.itemid
        WHERE
          item_tag.itemid
            NOT IN(
                    SELECT DISTINCT(itemid) FROM item_tag
                    WHERE
                     item_tag.`value` like '%{%'
                )
    </select>

    <select id="gatherItemByTagAndRtdata" parameterType="java.util.Map" resultMap="ItemArp_Result_Map">
             SELECT item_tag.*,
                IF (
                        item_tag.tag = #{index},
                        (
                            SELECT
                                `value`
                            FROM
                                item_tag tag_inner
                            WHERE
                                itemid IN (
                                    SELECT
                                        item_tag.itemid
                                    FROM
                                        (
                                            SELECT
                                                *
                                            FROM
                                                item_tag
                                            WHERE
                                                itemid IN (
                                                    SELECT
                                                        itemid
                                                    FROM
                                                        interface
                                                    JOIN items ON interface.hostid = items.hostid
                                                    WHERE
                                                        interface.ip = #{ip}
                                                )
                                            AND `value` = #{tag_relevance}
                                            GROUP BY
                                                itemid
                                            ORDER BY
                                                itemid DESC
                                        ) items
                                    JOIN item_tag ON item_tag.itemid = items.itemid
                                    WHERE
                                        item_tag.`value` = item_tag.index2
                                    AND item_tag.tag = #{index_relevance}
                                )
                            AND tag_inner.tag = #{name_relevance}
                            LIMIT 1
                        ),
                        NULL
                    ) AS name
             FROM(
                SELECT
                item_tag.*
            FROM
                (
                    SELECT
                        item_external.*,
                    IF (
                        item_external.tag = #{index},
                        (
                            SELECT
                                `value`
                            FROM
                                item_tag tag_inner
                            WHERE
                                itemid IN (
                                    SELECT
                                        item_tag.itemid
                                    FROM
                                        (
                                            SELECT
                                                *
                                            FROM
                                                item_tag
                                            WHERE
                                                itemid IN (
                                                    SELECT
                                                        itemid
                                                    FROM
                                                        interface
                                                    JOIN items ON interface.hostid = items.hostid
                                                    WHERE
                                                        interface.ip = #{ip}
                                                )
                                            AND `value` = 'port2ifindex'
                                            GROUP BY
                                                itemid
                                            ORDER BY
                                                itemid DESC
                                        ) items
                                    JOIN item_tag ON item_tag.itemid = items.itemid
                                    WHERE
                                        item_tag.`value` = item_external.`value`
                                    AND item_tag.tag = 'index'
                                )
                            AND tag_inner.tag = 'ifindex'
                            LIMIT 1
                        ),
                        NULL
                    ) AS index2
                    FROM
                        (
                            SELECT
                                *
                            FROM
                                item_tag
                            WHERE
                                itemid IN (
                                    SELECT
                                        itemid
                                    FROM
                                        interface
                                    JOIN items ON interface.hostid = items.hostid
                                    WHERE
                                        interface.ip = #{ip}
                                    AND available = 1
                                )
                            AND `value` = #{tag}
                            GROUP BY
                                itemid
                            ORDER BY
                                itemid DESC
                        ) items
                    JOIN item_tag item_external ON item_external.itemid = items.itemid
                ) item_tag
            JOIN (
                SELECT
                    itemid
                FROM
                    item_rtdata
                WHERE
                    error = ''
                OR error IS NULL
            ) rtdata ON rtdata.itemid = item_tag.itemid
            WHERE
                item_tag.itemid NOT IN (
                    SELECT DISTINCT
                        (itemid)
                    FROM
                        item_tag
                    WHERE
                        item_tag.`value` LIKE '%{%'
                )
            )item_tag
    </select>

    <select id="gatherItemByTagAndRtdata2" parameterType="java.util.Map" resultMap="ItemArp_Result_Map">
        SELECT item_tag.* FROM(
        SELECT item_external.*,
        IF(item_external.tag = #{index},(
        SELECT `value`
        FROM item_tag tag_inner
        WHERE itemid in (
        SELECT item_tag.itemid
        FROM (
        SELECT *
        FROM item_tag
        WHERE itemid
        IN (
        SELECT itemid
        FROM interface
        JOIN items
        ON
        interface.hostid = items.hostid
        WHERE interface.ip = #{ip})
        AND `value` = #{tag_relevance}
        GROUP BY itemid
        ORDER BY itemid
        DESC
        ) items
        JOIN item_tag
        ON item_tag.itemid = items.itemid
        <where>
            <choose>
                <when test="indexIncrease!=null">
                    item_tag.`value` = item_external.`value` + #{indexIncrease}
                </when>
                <otherwise>
                    item_tag.`value` = item_external.`value`
                </otherwise>
            </choose>
            <if test="index_relevance != null">
                AND item_tag.tag = #{index_relevance}
            </if>
        </where>
        )
        AND tag_inner.tag = #{name_relevance}
        limit 1
        ), NULL) AS name
        FROM (
        SELECT *
        FROM item_tag
        WHERE itemid
        IN (
        SELECT itemid
        FROM interface
        JOIN items
        ON
        interface.hostid = items.hostid
        WHERE interface.ip = #{ip}	AND available = 1)
        AND `value` = #{tag}
        GROUP BY itemid
        ORDER BY itemid
        DESC
        ) items
        JOIN item_tag item_external
        ON item_external.itemid = items.itemid
        )item_tag

        JOIN
        (
        SELECT
        itemid
        FROM
        item_rtdata
        WHERE
        error = ''

        )rtdata
        ON
        rtdata.itemid = item_tag.itemid

        WHERE
        item_tag.itemid
        NOT IN(
        SELECT DISTINCT(itemid) FROM item_tag
        WHERE
        item_tag.`value` like '%{%'
        )
    </select>

    <select id="gatherItemByTagAndIndex" parameterType="java.util.Map" resultMap="ItemArp_Result_Map">
            SELECT item_external.*,
                IF(item_external.tag = #{index},(
                    SELECT `value`
                    FROM item_tag tag_inner
                    WHERE itemid in (
                        SELECT item_tag.itemid
                        FROM (
                                SELECT *
                                FROM item_tag
                                WHERE itemid
                                IN (
                                    SELECT itemid
                                    FROM interface
                                    JOIN items
                                    ON
                                        interface.hostid = items.hostid
                            WHERE interface.ip = #{ip})
                            AND `value` = #{tag_relevance}
                            GROUP BY itemid
                            ORDER BY itemid
                            DESC
                        ) items
                        JOIN item_tag
                        ON item_tag.itemid = items.itemid
                        WHERE item_tag.`value` = item_external.`value`
                        AND item_tag.tag = #{index_relevance}
                )
                AND tag_inner.tag = #{name_relevance}
            ), NULL) AS name,
             IF(item_external.tag = #{index},(
                    SELECT `value`
                    FROM item_tag tag_inner
                    WHERE itemid in (
                        SELECT item_tag.itemid
                        FROM (
                                SELECT *
                                FROM item_tag
                                WHERE itemid
                                IN (
                                    SELECT itemid
                                    FROM interface
                                    JOIN items
                                    ON
                                        interface.hostid = items.hostid
                            WHERE interface.ip = #{ip})
                            AND `value` = #{tag_relevance}
                            GROUP BY itemid
                            ORDER BY itemid
                            DESC
                        ) items
                        JOIN item_tag
                        ON item_tag.itemid = items.itemid
                        WHERE item_tag.`value` = item_external.`value`
                        AND item_tag.tag = #{index_relevance}
                )
                AND tag_inner.tag = #{mac_relevance}
            ), NULL) AS mac
        FROM (
                SELECT *
                FROM item_tag
                WHERE itemid
                IN (
                    SELECT itemid
                    FROM interface
                    JOIN items
                    ON
                        interface.hostid = items.hostid
            WHERE interface.ip = #{ip}	AND available = 1)
            AND `value` = #{tag}
            GROUP BY itemid
            ORDER BY itemid
            DESC
        ) items
        JOIN item_tag item_external
        ON item_external.itemid = items.itemid
        WHERE
          item_external.itemid
            NOT IN(
                    SELECT DISTINCT(itemid) FROM item_tag
                    WHERE
                     item_tag.`value` like '%{%'
                )

    </select>

    <select id="interfaceTable" parameterType="java.util.Map" resultMap="ItemIpaddr_Result_Map">
        SELECT item_external.*,
           IF(item_external.tag = 'ifindex',(
                        SELECT GROUP_CONCAT(`value` SEPARATOR '/')
                        FROM item_tag tag_inner
                        WHERE itemid in (
                         SELECT item_tag.itemid
                         FROM (
                                 SELECT *
                                 FROM item_tag
                                 WHERE itemid
                                 IN (
                                            SELECT itemid
                                            FROM interface
                                            JOIN items
                                            ON interface.hostid = items.hostid
                                            WHERE interface.ip = #{ip}
                                    )
                                AND `value` = 'ifipaddr'
                                GROUP BY itemid
                                ORDER BY itemid
                                DESC
                         ) items

                         JOIN item_tag

                         ON item_tag.itemid = items.itemid

                         WHERE item_tag.`value` = item_external.`value`

                         AND item_tag.tag = 'ifindex'
                         AND item_tag.`value` != '{#IFINDEX}'
                     )
                      AND tag_inner.tag = 'ipaddr'
                    ), NULL) AS ip,
                    IF(item_external.tag = 'ifindex',(
                        SELECT GROUP_CONCAT(`value` SEPARATOR '/')
                        FROM item_tag tag_inner
                        WHERE itemid in (
                         SELECT item_tag.itemid
                         FROM (
                                 SELECT *
                                 FROM item_tag
                                 WHERE itemid
                                 IN (
                                            SELECT itemid
                                            FROM interface
                                            JOIN items
                                            ON interface.hostid = items.hostid
                                            WHERE interface.ip = #{ip}
                                    )
                                AND `value` = 'ifipaddr'
                                GROUP BY itemid
                                ORDER BY itemid
                                DESC
                         ) items

                         JOIN item_tag

                         ON item_tag.itemid = items.itemid

                         WHERE item_tag.`value` = item_external.`value`

                         AND item_tag.tag = 'ifindex'
                         AND item_tag.`value` != '{#IFINDEX}'
                     )
                      AND tag_inner.tag = 'mask'
                    ), NULL) AS mask
                 FROM (
                   SELECT *
                   FROM item_tag
                   WHERE itemid
                   IN (
                    SELECT itemid
                    FROM interface
                    JOIN items
                    ON
                     interface.hostid = items.hostid
                    WHERE interface.ip = #{ip}
                  )
                  AND `value` = 'ifbasic'
                  GROUP BY itemid
                  ORDER BY itemid
                  DESC
                 ) items
                 JOIN item_tag item_external
                 ON item_external.itemid = items.itemid
                  WHERE
                  item_external.itemid
                    NOT IN(
                            SELECT DISTINCT(itemid) FROM item_tag
                            WHERE
                             item_tag.`value` like '%{%'
                        )
    </select>

    <select id="selectNameObjByIndex" parameterType="java.lang.String" resultMap="ItemArp_Result_Map">
        SELECT *
        FROM item_tag tag_inner
        WHERE itemid in (
                SELECT item_tag.itemid
                FROM (
                                SELECT *
                                FROM item_tag
                                WHERE itemid
                                IN (
                                        SELECT itemid
                                        FROM interface
                                        JOIN items
                                        ON
                                                interface.hostid = items.hostid
                        WHERE interface.ip = #{ip})
                        AND `value` = 'ifbasic'
                        GROUP BY itemid
                        ORDER BY itemid
                        DESC
                ) items
                JOIN item_tag
                ON item_tag.itemid = items.itemid
                WHERE item_tag.`value` = #{index}
                AND item_tag.tag = 'ifindex'
        )
        AND tag_inner.tag = 'ifname'
    </select>


    <select id="selectInterfaceStatus" parameterType="java.util.Map" resultMap="ItemArp_Result_Map">
                 SELECT item_external.*
                 FROM (
                   SELECT *
                   FROM item_tag
                   WHERE itemid
                   IN (
                    SELECT itemid
                    FROM interface
                    JOIN items
                    ON
                     interface.hostid = items.hostid
                    WHERE interface.ip = #{ip}
                  )
                  AND `value` = 'ifbasic'
                  GROUP BY itemid
                  ORDER BY itemid
                  DESC
                 ) items
                 JOIN item_tag item_external
                 ON item_external.itemid = items.itemid
                  WHERE
                  item_external.itemid NOT IN(
                            SELECT DISTINCT(itemid) FROM item_tag
                            WHERE
                             item_tag.`value` like '%{%'
                        )

    </select>

</mapper>